/***** Styles *****/

button{
    display: block;
    width:85px;
    height: 35px;
    margin-top: 20px;
}
/***** Day-Mode *****/
body.day{
    background-color: #eee;
}

h1.day{
    color: #333;
}

p.day{
    color: #000000;
}

/***** Night-Mode *****/
body.night{
    background-color: #333;
}

h1.night{
    color: #eee;
}

p.night{
    color: #eee;
}